@model ModulesColorsViewModel

@{
    ViewData["Title"] = "Edit Colors";

}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show alert-table" role="alert">
        <i class="fa-solid fa-check"></i>
        @TempData["Message"]
    </div>
}
<div class="session-prep bg-light shadow w-sm-50">
    <h4 class="mb-5">Edit Module Colors</h4>
    <form asp-controller="Session" asp-action="UpdateModuleColor" method="post">
        @foreach (var moduleColor in Model.ModuleColors)
        {
            <div class="mb-4">
                <input type="hidden" asp-for="@moduleColor.Username" />
                <input type="hidden" asp-for="@moduleColor.ModuleCode" />
                <input type="hidden" asp-for="@moduleColor.ModuleColorId" name="ModuleColorId" />
                <input type="hidden" asp-for="@moduleColor.Color" />
                <h5>@moduleColor.ModuleCode</h5>
                <div class="d-flex align-items-center">
                    <select id="@moduleColor.ModuleCode-select" asp-for="@moduleColor.ColorId" name="ColorId" class="form-select w-25 colorSelect" asp-items="@ViewBag.Colors">
                    </select>
                    <div class="ms-2 colorPreview" style="width:38px;height:38px;border-radius:4px;"></div>
                </div>
            </div>


        }
    <div class="d-flex session-prep-buttons">
        <button class="btn btn-outline-primary mx-3" type="submit" title="Save changes"><i class=" fa-solid fa-floppy-disk"></i></button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary mx-3" title="Go back"><i class=" fa-solid fa-arrow-left"></i></a>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const colorSelect = document.querySelectorAll('.colorSelect');
        const colorPreview = document.querySelectorAll('.colorPreview');
        const color = @Html.Raw(Json.Serialize(Model.Colors.ToArray().OrderBy(m => m.ColorId)));

        function updateColorPreview() {
            colorSelect.forEach(function (select, index) {
                const i = parseInt(select.value) - 1;
                const selectedColor = color[i].colorValue;
                colorPreview[index].style.backgroundColor = selectedColor;
            });
        }

        colorSelect.forEach(function (select) {
            select.addEventListener('change', updateColorPreview);
        });

        updateColorPreview();
    });
</script>
